.header {
  display: flex;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
  padding: 0 70px;
  position: relative;
  background-color: #073042;
}
.header__black {
  background-color: #202020;
}

.header__logo {
  margin: 0px;
  background-image: url("./../../images/logo.svg");
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  align-items: flex-start;
  background-size: contain;
}

@media (max-width: 1000px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 14px;
  }
}
