.moviesCard {
  margin: 0;
  border-radius: 6px;
  background: #222;
  /* background: rgb(221, 238, 174); */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}
.moviesCard__image {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 52/29;
  border-radius: 6px 6px 0px 0px;
}
.moviesCard__name {
  margin: 10px 16px 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 6px 6px;
}
.moviesCard__text-content {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.moviesCard__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 7px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
}
.moviesCard__time {
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.moviesCard__like {
  background-color: transparent;
  background-image: url(../../../images/heart.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
  aspect-ratio: 1/1;
}

.moviesCard__like_active {
  background-image: url(../../../images/heartactiv.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}


.moviesCard__delete {
  background-image: url(../../../images/trach.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}



@media screen and (max-width: 769px) {
  .moviesCard__name {
    margin: 10px 14px 14px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 6px 6px;
  }
  .moviesCard__text-content {
    gap: 15px;
  }
  .moviesCard__title {
    margin: 5px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .moviesCard__text-content {
    gap: 12px;
  }
  .moviesCard__title {
    font-size: 12px;
  }
  .moviesCard__time {
    font-size: 10px;
  }
}
